.containerCard{
  width: 250px;
  height: 350px;
  border-radius: 10px;
  background-color: #F7F7F7;
  margin-left: 20px;
}

.title {
  width: 100%;
  text-align: start;
  font-size: 14px;
  padding: 10px
}

.image {
  width: 150px;
}

.price {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #C67A24;
  text-align: start;
}
